.scrollable{
    overflow-y: scroll;
}

#vehicles-bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 24, 1);
}


#vehicles-title{
    font-family: "Nico Moji" !important;
    font-size: 128px;
    text-align: center;
    color: #FF614C;
    margin-top: 50px;
    margin-bottom: 0;
}

#starship{
    position:relative;
    margin-top: 2vh;
    z-index: 0;
    width: 100%;
    height:fit-content;
}

#starship-title{
    position: absolute;
    font-family: "Nico Moji" !important;
    margin-top: -240vh;
    margin-left: 15vh;
    z-index: 10;
    justify-self: center;
    font-size: 128px;
    text-align: center;
    color: white;
    letter-spacing: 40px;
}

#starship-subtitle{
    position: absolute;
    font-family: "Times New Roman" !important;
    margin-top: -220vh;
    margin-left: 5vh;
    z-index: 10;
    justify-self: center;
    font-size: 48px;
    text-align: center;
    color: white;
    word-spacing: 35px;
}

#arrow-down{
    position: fixed;
    left: 35%;
    margin-top: -115vh;
    scale: .2;
}

#starship-desc{
    font-family: 'Times New Roman';
    font-size: 24px;
    color: red;
    position: relative;
    z-index: 50;
    margin-top: -170vh;
    margin-left: 10vh;
}

.center-contents{
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.full-bg{
    position: absolute;
    margin-top: -10vh;
    z-index: -1;
    width: 100%;
    height: 100%;
  }


