.nav-bar{
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
  height: 20% !important;
  width: 100% !important;
  padding-bottom: 40px;
}

.nav-item{
  font-family: "Nico Moji" !important;
  font-size: 28px;
  color: white;
  padding: 10px 20px 15px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0 0 10px 10px;
  width: calc(100% / 7);
  text-align: center;
  text-decoration: none;
}

.nav-item:hover{
  background-color: #d9d9d980;
}

#gap:hover{
  background-color: transparent !important;
}

.nav-line-straight-left{
  display: block;
  background-color: #FF614C;
  padding: 1px;
  width: 40% !important;
  height: 5px !important;
  margin-top: -32px;
}

.nav-line-angle-left{
  display: block;
  background-color: #FF614C;
  padding: 1px;
  width: 6px !important;
  height: 30px !important;
  transform: skewX(30deg);
  margin-left: 40.5%;
  margin-top: -7px;
}

.nav-line-angle-right{
  display: block;
  background-color: #FF614C;
  padding: 1px;
  width: 6px !important;
  height: 30px !important;
  transform: skewX(-30deg);
  margin-right: 40.5%;
  margin-top: -32px;
  float: right;
}

.nav-line-straight-right{
  display: block;
  background-color: #FF614C;
  float: right;
  padding: 1px;
  margin-top: -32px;
  width: 40% !important;
  height: 5px !important;
}

.nav-line-straight-center{
  display: block;
  background-color: #FF614C;
  padding: 1px;
  width: 17.5% !important;
  height: 5px !important;
  margin-left: 41.25%;
  z-index: 0;
  margin-top: -7px;
}

/*CITATION: hexagon styling from https://jtauber.github.io/articles/css-hexagon.html*/
.hexagon{
  margin-top: 113px;
  position: absolute;
}

#hexagon-top{
  width: 0 !important;
  border-bottom: 33.75px solid #FF614C;
  border-left: 58.5px solid transparent;
  border-right: 58.5px solid transparent;
}

#hexagon-middle{
  width: 117px;
  height: 67.5px;
  background-color: #FF614C;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible !important;
}

#hexagon-bottom{
  width: 0 !important;
  border-top: 33.75px solid #FF614C;
  border-left: 58.5px solid transparent;
  border-right: 58.5px solid transparent;
}

.bg-image{
  position: fixed;
  top:0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

#home-title{
  font-family: "Nico Moji" !important;
  font-size: 128px;
  text-align: center;
  color: #FF614C;
  margin-top: 60px;
  margin-bottom: 0;
}

#home-subtitle{
  font-family: "Nico Moji" !important;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-top: 5px;
}

.begin-button{
  font-family: "Nico Moji" !important;
  color: white;
  font-size: 32px;
  width: 20vw;
  margin-left: 40vw;
  margin-top: 120px;
  height: 8vh;
  border: none;
}

.begin-button:hover{
  opacity: 0.75;
}

#begin-button-outline{
  border: 3px solid #FF614C;
  background-color: transparent;
  width: calc(20vw + 5px);
  margin-left: calc(40vw - 5px);
  height: calc(8vh + 5px);
  margin-top: calc(-8vh - 5px);
}

.voyages-container{
  background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c3BhY2UlMjBzdGFyc3xlbnwwfHwwfHw%3D&w=1000&q=80");
  width:100%;
  height:100%; 
}

.planet{
  width: 300px;
  height: 300px;
  margin-top: 20.5vh;
  margin-left: 15vw;
  float: left;
  object-fit: cover;
}

#mercury{
  scale: 1.2;
}
#venus{
  scale: 1.05;
  margin-top: 24vh !important;
}
#earth{
  scale: 1.15;
  height: 270px !important;
}
#mars{}
#jupiter{
  scale: 1.55;
  margin-left: 12.5vw !important;
  margin-top: 23vh !important
}
#saturn{
  width: auto !important;
  margin-left: 10vw !important;
}
#uranus{
  scale: 1.25;
  margin-left: 16vw !important;
}
#neptune{
  margin-left: 16vw !important;
}

.planet-button{
  background-color: #FF614C;
}

.planet-info{
  color: white;
  text-align: left;
  float: right;
  width: 40vw;
  margin-top: 19vh;
  padding-right: 10vw;
  font-family: "Nico Moji";
}

.planet-name{
  font-size: 80px;
  margin: 0;
}


.planet-cost{
  font-size: 18px;
  margin: 0;
}


.planet-subtitle{
  font-size: 28px;
  margin: 20px 0;
}

.planet-description{
  font-size: 24px;
  margin: 20px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
  font-family: "Nico Moji";
  src: local("NicoMoji-Regular"),
    url("./Fonts/nicomoji/NicoMoji-Regular.ttf") format("truetype");
}
